fastapi
uvicorn
python-multipart
pydantic
supabase
langchain
langchain-community
langchain-groq
fastembed
pypdf2
pymupdf
python-dotenv
numpy
pandas
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
aiofiles
